* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.usertb{
    border:100px solid black;
}
th{
    background-color: rgb(102, 148, 150);
}
td{
    background-color: rgb(102, 148, 150);
}
.edittb{
    padding: 100px;
}
.form-gap {
    padding-top: 70px;
}